<!-- BEGIN body -->
Add {img_count} new image(s)
<P>
<!-- BEGIN form -->
Path: <a href="?page=View&{img_url}{img_path}">{img_path}</a><br>
<form name="" action="" method="POST">
<table border=1>
<!-- BEGIN image_row -->
	<tr valign="top">
	<!-- BEGIN image_data -->
	<td><input type="checkbox" name="img[{file}]" value="1" ><a
			href="{img_src}">{file}</a><br>
		<img src="{img_src}">
		</td>
	<!-- END image_data -->
	</tr>
<!-- END image_row -->
</table>
Add
<input type="submit" name="cmd" value="Selected">
/
<input type="submit" name="cmd" value="All">
Images
</form>
<!-- END form -->
{message}
<p>
<A href="{refurl}">Return</a> to previous page.
<!-- END body -->
