<!-- $Id: Book.html,v 1.17 2003-04-25 19:56:21 paulmcav Exp $ -->
<!-- BEGIN body --> 
<LINK rel="stylesheet" href="style.css">
<SCRIPT language="JavaScript">
<!--
function checkAll(ob) {
	var fn = document.bookList;
	for (var i=0;i<=fn.cnt.value;i++) {
		var ck = fn[ob+"["+i+"]"];
		if ( typeof(ck)=='object' ) { ck.checked = !ck.checked; }
	}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v3.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</SCRIPT>
<BODY onLoad="MM_preloadImages('img/eye_open.gif')">
{form} 
<TABLE width="100%" border="1" cellspacing="0" cellpadding="1">
  <TR> 
	<TD> 
	  <TABLE width="100%" cellpadding="0" cellspacing="0" border="0">
		<TR> 
			<TD align="left">&nbsp;{view_message}{all_img_link}</TD>
		  <TD align="right">{all_img_link}&nbsp;</TD>
		</TR>
	  </TABLE>
  </TR>
  <TR> 
	<TD> 
	  <TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
		<TR valign="top"> 
		  <TD colspan="2" width="500"> 
			<TABLE width="100%" border="0" cellspacing="0" cellpadding="1">
			  <TR> 
				<TH width="42">View</TH>
				<TH colspan="2">Book Name</TH>
				<TH>Subs</TH>
				<TH>Images</TH>
				<!-- BEGIN usr_bk_ehdr --> 
				<TH></TH>
				<TH><A href="#" onClick="checkAll('f_book_acd'); return false;"
				  >A/<FONT class="book_close0">C</FONT>/D</A></TH>
				<TH>Pa</TH>
				<TH><A href="#" onClick="checkAll('f_book_c'); return false;"
				  >Ch</A></TH>
				<!-- END usr_bk_ehdr --> </TR>
			  <!-- BEGIN book_row --> 
			  <TR align="center"> 
				<TD><A href="?{bkvw_lnk}" onMouseOut="MM_swapImgRestore()"
				  onMouseOver="MM_swapImage('i_{id}','','img/eye_open.gif',1)"
				  ><IMG name="i_{id}" border="0" src="img/eye_closed.gif"
				  {view_img_siz}></A></TD>
				<TD width="16">{tree_lnk}</TD>
				<TD align="left" {bk_row}>{bknm_timg}{bknm_lnk} <FONT size="-1">{_cd}</FONT></TD>
				<TD {bk_row}>{c_num}</TD>
				<TD {bk_row}>{img_cnt}</TD>
				<!-- BEGIN usr_bk_erow --> 
				<TD></TD>
				<TD align="left" {bk_row}>{check_acd} <FONT size="-1">{status}</FONT></TD>
				<TD {bk_row}>{radio_p}</TD>
				<TD {bk_row}>{check_c}</TD>
				<!-- END usr_bk_erow --> </TR>
			  <!-- END book_row --> 
			</TABLE>
		  </TD>
		  <TD>&nbsp;</TD>
		  <TD rowspan="2"><!-- BEGIN book_detail --> <BR>
			<TABLE width="85%" align="center">
			  <TR>
				<TD> 
				  <TABLE width="100%" border="1" cellpadding="2" cellspacing="1" bgcolor="#99CC99" bordercolor="#006666">
					<TR> 
					  <TD > 
						<TABLE width="100%" border=0>
						  <TR align="center"> 
							<TD>~ <B>{_name}</B> ~</TD>
						  </TR>
						  <TR align="center"> 
							<TD> {_notes} </TD>
						  </TR>
						  <TR align="center"> 
							<TD><A href="?{bkvw_lnk}">{book_image}</A></TD>
						  </TR>
						  <TR align="center"> 
							<TD>Date: {_date} ~ {img_cnt} Images {_image}</TD>
						  </TR>
						</TABLE>
					  </TD>
					</TR>
				  </TABLE>
				</TD>
			  </TR>
			  <TR>
				<TD> {f_update} <!-- END book_detail --></TD>
			  </TR>
			</TABLE>
		  </TD>
		</TR>
		<!-- BEGIN form_action --> 
		<TR> 
		  <TD> 
			<INPUT type="hidden" name="cnt" value="{book_cnt}"
		>
			<INPUT type="submit" name="fc_ab" value="Add Book"
		>
			<INPUT type="text" name="newbook" size="16">
		  </TD>
		  <TD align="right"> 
			<INPUT type="submit" name="fc_ab" value="Active"
		>
			<INPUT type="submit" name="fc_cb" value="Close"
		>
			<INPUT type="submit" name="fc_db" value="Delete"
		>
			{f_update} </TD>
		  <TD> </TD>
		  <TD> </TD>
		  <!-- BEGIN form_detail --> <!-- END form_detail --> </TR>
		<!-- END form_action --> 
	  </TABLE>
	</TD>
  </TR>
</TABLE>
<!-- END body --> 
