<!-- $Id: Index.html,v 1.9 2003-07-29 00:42:40 paulmcav Exp $ -->
<!-- BEGIN body --> 
<link rel="stylesheet" href="style.css">
<h3><span class="text">Welcome to the E-Photo Log.</span></h3>
<table border="0" width="100%">
	<tr valign="top"><td width="50%">
<span class="text"><font size="-1">There are currently {user_count} users with {book_count} books and {image_count} images.
<p> Select a user or book to view images:
</font></span>
<table border="1" cellpadding="2" cellspacing="0">
  <tr align="center"> 
    <th>User Name</th>
    <th>Images</th>
  </tr>
  <!-- BEGIN userlist_row --> 
  <tr align="center"> 
    <td><a href="?page=Book&st=d&uid={id}">{name}</a></td>
    <td>{img_cnt}</td>
  </tr>
  <!-- END userlist_row --> 
</table>
</td><td>
<table><tr><th>-Random Image-</th></tr>
	<tr align="center"><td><font size="-1">{title}</font></td></tr>
	<tr align="center"><td><a href="{img_url}"><img border="0" src="{img_src}"
				{img_dim} title="{dir} - {title}"></a></td></tr>
	<tr align="center"><td><font size="-2">{_cd} {views}</font></td></tr>
</table>
</td>
<tr></table>
<span class="text"><font size="-1">
		<p>
		{add_msg}
		<!-- END body --> 
</font></span>
