<!-- $Id: Login.html,v 1.1 2002-10-29 22:16:10 paulmcav Exp $ -->
<!-- BEGIN body --> 
{login_message}
<p> <!-- BEGIN login_body --> After logging into the system, you will be able 
  to view high quality images instead of just thumbnails. 
<p>
<form action="?" method="POST">
	Email: <input type="text" name="uid" value="" size="30">
	Password: <input type="password" name="pass" value="" size="10">
	<input type="hidden" name="page" value="Login">
	<input type="submit" name="cmd" value="Login">
	<input type="reset" value="Clear">
	<p>
	Or: <input type="submit" name="cmd" value="Send Password">
</form>
<p>
If you do not have an account, please <a href="?page=Signup">sign up</a>.  You will get access to
enhanced information such as user comments, and other bidder data.
<p>
Click the 'Send Password' button to get a new password sent to your email
address.<br>
<p>
<!-- END login_body -->
<p>
<!-- END body --> 
