<!-- $Id: Signup.html,v 1.3 2002-11-13 01:26:11 paulmcav Exp $ -->
<!-- BEGIN body --> 
Signup page.  Create your account here!
<p>
{step_message}
<form action="?" method="POST">
	<input type="hidden" name="page" value="Signup">
  <table>
    <!-- BEGIN form_part1 --> 
    <tr> 
      <td>Email address:</td>
      <td> 
		  <input type="text" name="email" value="" size="30">
      </td>
    </tr>
    <input type="hidden" name="p" value="1">
    <!-- END form_part1 --> <!-- BEGIN form_part2 --> 
    <tr> 
      <td>Email address:</td>
      <td><b>{email}</b></td>
    </tr>
    <tr> 
      <td>Email (again):</td>
      <td> 
		  <input type="text" name="email" value="" size="30">
      </td>
    </tr>
    <tr> 
      <td>Name:</td>
      <td> 
		  <input type="text" name="name" value="{name}" size="30">
      </td>
    </tr>
    <tr> 
      <td>Address:</td>
      <td> 
		  <input type="text" name="address" value="{address}" size="40">
      </td>
    </tr>
    <tr> 
      <td>City:</td>
      <td> 
		  <input type="text" name="city" value="{city}" size="30">
      </td>
    </tr>
    <tr> 
      <td>State:</td>
      <td> 
		  <input type="text" name="state" value="{state}" size="5">
      </td>
    </tr>
    <tr> 
      <td>Zip:</td>
      <td> 
		  <input type="text" name="zip" value="{zip}" size="10">
      </td>
    </tr>
    <tr> 
      <td>Phone:</td>
      <td> 
		  <input type="text" name="phone" value="{phone}" size="12">
      </td>
    </tr>
    <tr> 
      <td>Password:</td>
      <td> 
        <input type="password" name="pass" value="" size="30">
      </td>
    </tr>
    <tr> 
      <td>Password Again:</td>
      <td> 
        <input type="password" name="pass1" value="" size="30">
      </td>
    </tr>
    <!-- END form_part2 --> 
  </table>
<!-- BEGIN form_part3 -->
<input type="submit" name="cmd" value="Submit">
<!-- END form_part3 -->
</form>
<p>
<!-- END body --> 
