<!-- $Id: View.html,v 1.26 2003-11-26 03:14:56 paulmcav Exp $ -->
<!-- BEGIN body --> 
<LINK rel="stylesheet" href="style.css">
<!-- BEGIN data_yes -->
 {form} 
<TABLE border="1" cellpadding="0" cellspacing="0" width="100%">
  <TR> 
	<TD colspan="2"> 
	  <TABLE border="0" cellpadding="1" cellspacing="0" width="100%">
		<TR> 
		  <TD align="left">&nbsp;{view_message}</TD>
		  <TD align="right" class="small_text"><FONT size="-1">{img_size_sel}&nbsp;</FONT></TD>
		</TR>
	  </TABLE>
	</TD>
  </TR>
  <TR align="left" valign="top"> 
	<TD align="center" valign="middle" width="50"><A href="?{url_books}"><IMG src="img/book.jpg" width="32" height="32" border="0"></A></TD>
	<TD width="94%"> 
		<TABLE width="100%" border="0" cellpadding="0" cellspacing="0">
		  <tr valign="top"><td>
				  <TABLE border="0" cellpadding="0" cellspacing="1">
		<!-- BEGIN book_row --> 
		<TR align="center"> <!-- BEGIN book_data --> 
		  <TD class="book_nav" align="left">{book_link}</TD>
		  <!-- END book_data --></TR>
		<!-- END book_row --> 
	  </TABLE>
  </td><td align="right">
	{add_images}</TD>
</tr></table>
  </TR>
  <TR> 
	<TD align="center" colspan="2"> <A name="image"></A> 
	  <TABLE border="0" cellpadding="0" cellspacing=0" width="100%">
		<TR align="right"> 
		  <TD align="left" {pb_ops} class="small_text"><FONT size="-2">{prev_book}</FONT></TD>
		  <TD align="left" {pi_ops} class="small_text"><FONT size="-2">{prev_image}</FONT></TD>
		  <TD align="center" {bn_ops}><FONT size="-1"><B class="text">{img_src_url1}{base_name}{img_src_url0}</B></FONT></TD>
		  <TD {ni_ops} class="small_text"><FONT size="-2">{next_image}</FONT></TD>
		  <TD {nb_ops} class="small_text"><FONT size="-2">{next_book}</FONT></TD>
		</TR>
	  </TABLE>
	</TD>
  </TR>
  <!-- BEGIN image_list --> 
  <TR align="center" valign="top"> 
	<TD colspan="2"> 
	  <TABLE border="0" cellpadding="0" cellspacing="1" width="100%">
		  <!-- BEGIN f_image_header -->
		  <tr align="center" valign="bottom">
			  <td>&nbsp;</td>
			  {f_col_sel}
		  </tr>
		  <!-- END f_image_header -->
		<!-- BEGIN image_row --> 
		<TR align="center" valign="top">{f_row_sel}<!-- BEGIN image_data --> 
			<TD class="small_text"><FONT size="-1">{n_views}{form_data}{base_name}</FONT><BR>
			<A HREF="?{image_url}"><IMG border="1"{img_args} title="{base_name}" lowsrc="img/loading.gif"></A> 
		  </TD>
		  <!-- END image_data --> </TR>
		<!-- END image_row --> 
	  </TABLE>
	</TD>
  </TR>
  <!-- END image_list --> <!-- BEGIN image_view --> 
  <TR align="center" valign="top"> 
	<TD colspan="2"> 
	  <TABLE border="0" cellpadding="0" cellspacing="1">
        <TR align="center" valign="top"> 
          <TD colspan="2"> 
            <table class="image_border"
				border="0" cellpadding="1" cellspacing="0" >
              <tr align="left" valign="top"> 
				  <td><!-- image info -->{obj_pre}{image_src}</td>
              </tr>
            </table>
          </TD>
        </TR>
		<TR align="center" valign="top" bgcolor="#FFeebb"> 
          <TD align="left" ><font face="Verdana, Arial, Helvetica, sans-serif" size="1">&nbsp; 
				  {nicedate} [ {res} @ {kbytes}kB ]</font></TD>
	<TD> <font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="#" onClick="{exif_link} return false;">EXIF</a>{n_views}</font></TD>
        </TR>
        <TR align="center"> 
          <TD class="text" colspan="2"><B>{_title}</B></TD>
        </TR>
        <TR> 
          <TD colspan="2">{_notes} 
            <P> 
          </TD>
        </TR>
        <TR> 
			<TD colspan="2">{_kwds} 
            <P> 
          </TD>
        </TR>
        <TR align="center"> 
          <TD colspan="2">{_comments} 
            <P> 
          </TD>
        </TR>
        <TR align="center"> 
          <TD colspan="2"> 
		<!--
            <TABLE border="0" cellpadding="3" cellspacing="0">
              <TR align="left" valign="top" class="text"> 
                <TD><FONT size="-2"> {exif1} </FONT></TD>
                <TD><FONT size="-2"> {exif2} </FONT></TD>
              </TR>
            </TABLE>
			-->
            {form_data} </TD>
        </TR>
        <TR align="center"> 
          <TD colspan="2">{_cmt_sub}</TD>
        </TR>
      </TABLE>
	  <!-- END image_view --> </TD>
  </TR>
  <TR> 
	<TD align="center" colspan="2" class="small_text"> 
	  <TABLE border="0" cellpadding="0" cellspacing=0" width="100%">
		<TR align="right"> 
		  <TD align="left" {pb_ops}><FONT size="-2">{prev_book}</FONT></TD>
		  <TD align="left" {pi_ops}><FONT size="-2">{prev_image}</FONT></TD>
		  <TD align="center" {ss_ops}><FONT size="-1">{slideshow_parms}</FONT></TD>
		  <TD {ni_ops}><FONT size="-2">{next_image}</FONT></TD>
		  <TD {nb_ops}><FONT size="-2">{next_book}</FONT></TD>
		</TR>
	  </TABLE>
	</TD>
  </TR>
</TABLE>
<!-- BEGIN form_action --> 
<SCRIPT language="JavaScript" type="text/javascript">
<!-- 
function CheckAll() {
  for (var i=0; i<document.imageList.elements.length; i++) {
    if(document.imageList.elements[i].type == 'checkbox'){
      document.imageList.elements[i].checked = !(document.imageList.elements[i].checked);
    }
  }
}
function checkEvery(ob,n,s,m) {
	var fn = document.imageList;
	var mx = fn.elements.length;
	if (m>0){ mx = n+m; }
	for (var i=n; i<mx; i+=s) {
		var ck = fn[ob+"["+i+"]"];
		if ( typeof(ck)=='object' && ck.type=='checkbox' ){
			ck.checked = !ck.checked;
		}
	}
}
 //-->
 </SCRIPT>
<TABLE border="0" cellpadding="0" cellspacing="0" width="100%">
  <TR> 
	<TD align="left"> 
	  <INPUT type="submit" name="fc_ta" value="Toggle Access">
	  <INPUT type="submit" name="fc_atb" value="Remove">
	  or 
	  <INPUT type="submit" name="fc_atb" value="Add To Book">
	  <SELECT name="book_id">
		<OPTION value="-1" selected>*New Book*</OPTION>
	{book_sel_list}
 	  </SELECT>
	  <INPUT type="text" name="newbook" size="16">
	</TD>
	<TD align="right">{form_extra_subs}</TD>
  </TR>
</TABLE>
<A href="#" onclick="CheckAll(); return false;">(De)Select All</A> <!-- END form_action --> 
<!-- END data_yes --> <!-- END body --> 
